html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: inherit;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    #chart-result {
        height: 300px;
    }
}

@media only screen and (min-width: 600px) {
    #chart-result {
        height: 400px;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
